{% extends 'layout.html' %}

{% block title %} Newsss {% endblock %}

{% block body %}
<div class="container">
    <h1>Lo ultimo en noticias Flask</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab minima sint obcaecati unde. Facilis, omnis esse
        inventore dolorum repellendus odio. Fugiat nihil sed itaque voluptatibus veniam nulla velit ab perferendis.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consectetur id quam laborum, ipsum ex odio,
        voluptatibus velit culpa ad repellendus fugiat aut. Architecto libero veniam fugit ex soluta nostrum.</p>

</div>

{% endblock %}